# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/public/sample10
/public/sample_images_10k_orig01
/public/sample_images_10k_orig01_64
/public/sample_images_10k_orig01_128
/public/deep_hough_10k_orig01_out01_jsons
/public/sample100

/z_archiv
dist_testing
sam01_cutouts_10k01_100
sam_out01_contours_10k_orig01_cleanup_merged_100
learn2paint_out01_contours_cleanup_merged_100

